body {
    background-color: blue !important;
}

.container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quiz-card {
    width: 30rem;
}

.question-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.4);
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}